body{
    font-family: Noto Sans JP, sans-serif;
    margin: 0;
    min-width: 1076px;
}

/*
 *[header]のスタイルシート
 */

.color{
    margin: 0;
    background: linear-gradient(0, #3cd3bf, #49bedb);
    min-height: 100%;
    padding-top: 1px;
    color: whitesmoke;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin: 0 20px 0 0;
    padding: 0;
}
.block-header a{
    font-size: 15px;
    letter-spacing: 0.3em;
    text-decoration: none;
}
.border-green{
    border-bottom: solid 4px rgb(86, 243, 217);
    padding-bottom: 5px;
}
.color-white{
    color: whitesmoke;
}

/*
 *[profile]のスタイルシート
 */

.box-main{
    text-align: center;
    margin: 0;
    padding: 100px 0 130px 0;
}
.box-profile{
    margin: 0 auto;
    display: inline-flex;
}
.box-profile img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    border: solid 1px whitesmoke;
    padding: 10px;
}
.item-box1{
    margin: 50px 70px ;
    letter-spacing: 0.3em;
}
.item-box1 p{
    font-size: 25px;
    font-weight: lighter;
}

/*
 *[profile-Aboutのスタイルシート]
 */

.item-list2{
    width: 100%;
    text-align: center;
    color: rgb(119, 119, 119);
    margin: 100px auto;
}
.item-list2 h2{
    font-size: 30px;
    letter-spacing: 0.2em;
    margin: 0 auto;
}
.deco{
    list-style: none;
    display: inline-flex;
    color: rgb(119, 119, 119);
    font-size: 30px;
    padding: 0 0 10px 0;
}
.deco li{
    padding: 0 8px;
    letter-spacing: 0.1em;
}
.deco img{
    width: 100%;
    max-width: 35px;
    margin-top: 5px;
}
.item-list2 p{
    padding: 0;
}
.icon-list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
.icon-list li img{
    margin-right: 30px;
    width: 100%;
    max-width: 40px;
}

/*
 *[Projects]のスタイルシート
 */

.triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20vh 100vw;
    border-color: transparent transparent #0ec59e transparent;
}
.box-projects{
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #0ec59e;
    color: whitesmoke;
}
.box-projects h2{
    margin: 0 auto;
    letter-spacing: 0.2em;
    font-size: 30px;
}
 .deco2{
    list-style: none;
    display: inline-flex;
    color: whitesmoke;
    font-size: 30px;
    padding: 0 0 10px 0;
 }
 .deco2 li{
    padding: 0 8px;
    letter-spacing: 0.1em;
}
 .deco2 img{
    width: 100%;
    max-width: 35px;
    margin-top: 5px;
}

/*
 *[Project-works]のスタイルシート
 */
.works-list{
    width: 100%;
    max-width: 1078px;
    list-style: none;
    text-align: left;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    letter-spacing: 0.1em;
}
.works-list li{
    display: block;
    float: left;
    width: 100%;
    max-width: 348px;;
    margin: 40px 150px 50px 150px;
    padding-bottom: 15px;
}
.works-list li:last-child{
    margin: 40px 0 50px 20px;
}
.works-list h3{
    font-size: 24px;
    margin: 10px 0;
}
.works-list h4{
    margin: 0;
    font-weight: lighter;
}
.works-list p{
    font-size: 13px;
}
.works-list li link{
    display: flex;
    text-align: left;
    justify-content: left;
}
.works-list li a{
    text-decoration: none;
    color: whitesmoke;
    border: solid 2px whitesmoke;
    padding: 10px;
    font-size: 10px;
    margin: 20px 10px;
}
.triangle-bottom{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20vh 0 0 100vw;
    border-color: #0ec59e transparent transparent transparent;
}
.contact-list{
    list-style: none;
    width: 100%;
    max-width: 1076px;
    margin: 100px;
}
.contact-list li{
    display: block;
    float: left;
    max-width: 348px;
    width: 250px;
    padding: 30px 20px 0 20px;
    background-color: #f1f1f1;
    margin-bottom: 200px;
    margin-right: 10px;
    margin-left: 180px;
    border-top: 5px solid #0ec59e;
}
.contact-list img{
    width: 100%;
    height: 40px;
}
.contact-list span{
    border-bottom: solid 3px rgb(119, 119, 119);
    padding: 15px;
}
.contact-list p{
    padding-top: 10px;
}
.footer{
    clear: both;
    text-align: center;
    font-size: 10px;
    background-color: #f1f1f1;
    margin: 0;
    padding: 20px 0 20px 0;
}
